<% provide(:title,"Developers")%>
<div class="container-fluid">
    <aside id="developers_side_nav">
      <%= image_tag("899762fd9fd17504.gif", alt: "Messpay") %>
      <div class="developers_pg" id="nischay_dev" onclick="openDev()">
           <%= image_tag("nis.jpg", alt: "The Adventurer" ,class:"img-circle" ,width:"90px" ,height:"85px") %>
           Adventurer
        <hr width="50%">
      </div>
      <div class="developers_pg" id="nikhil_dev"  onclick="openDev()">
           <%= image_tag("nik.jpg", alt: "Coder" ,class:"img-circle" ,width:"100px" ,height:"100px") %>
        Coder
        <hr width="50%">
      </div>
      <div class="developers_pg" id="sandy_dev" onclick="openDev()">
        <%= image_tag("sandy.jpg", alt: "Scientist" ,class:"img-circle" ,width:"100px" ,height:"100px") %>
        Scientist
      </div>
    </aside>
  <div>
    
  </div>
</div>
