
<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-4">

       <%= image_tag("899762fd9fd17504.gif", alt: "Messpay") %>

       <%= form_for("/residents/show") do |f| %>
          <%= f.text_field "dds ",placeholder: "Enter Your Roll number!",id:"search_bar"%>
          <%= f.submit "Pay now",id:"search_button" %>
    <%end%>

        </div>
  </div>
</div>


