<% provide(:title, "Forgot password") %>

<div class="row">
  <div class="col-md-6 col-md-offset-4">
    <%= image_tag("899762fd9fd17504.gif", alt: "Messpay",height: "76",width: "240") %><br>

    <p style="font-weight:200;margin-bottom: 30px;font-size: 30px;">Forgot password ?</p>

    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
        <%= f.email_field :email, class: 'form-control',placeholder:"Enter your e-mail" %>

        <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
