<% provide(:title, @user.roll_number) %>
<div class="row">
  <div class="col-md-3" style="background-color: lavender;">
    <section>
      <h1>
        <%if @user==current_user%>
        <%= gravatar_for @user %>
            <%end%>
        <%= @user.roll_number %>
      </h1>
    </section>
  </div>
  </div>

