<% provide(:title, 'Your leaves') %>
<div class="row">
  <div class="col-xs-8 col-xs-offset-3"id="leaves_button">
    <h1 style="color: gray">Leaves (<%= current_user.resident.leaves.count %>)</h1><span class="btn btn-primary"><%= link_to"Mark Leave now",new_leave_path%></span>
    <br>
    <br>
    <ol class="leaves">
      <%= render @leaves %>
    </ol>
    </div>
</div>
