<div class="container-fluid">
<header class="site-top-border">
</header>
  <div class="row">
    <div class="col-xs-2 col-xs-offset-10">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-1 col-xs-offset-9">
            <a  class="menu_icon" onclick="openNav()">☰</a>
          </div>
        </div>
      </div>
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
       <ul>
         <li> <%=link_to "Contact",contact_path%></li>
         <li> <%=link_to "Developers",developers_path%></li>
         <li> <%=link_to "Help",help_path%></li>
         <li> <%=link_to "About",about_path%></li>
         </ul>
      </div>
      <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
        closeNav();
      </script>

    </div>

</div>
